# PostgreSQL Database Config
POSTGRES_USER=postgres
POSTGRES_PASSWORD=ChangeThisToASecurePassword
POSTGRES_DB=drock

# Application Database URL
# Format: postgresql://USER:PASSWORD@db:5432/DB_NAME (Use 'db' for docker, 'localhost' for local dev)
DATABASE_URL=postgresql://postgres:ChangeThisToASecurePassword@db:5432/drock
